body {

}

#board {
   height: 800px;
   margin: 30px auto;
   width: 800px;
   border: 0.5px solid slategrey;
   background-image: url('../imgs/stars.gif');
 }

 #board.scrolling {
  -webkit-animation: scrolling;
  animation: scrolling 3s linear infinite;
  animation-duration: 3s linear infinite;
 }

 .cell {
   float: left;
   height: 32px;
   width: 32px;
   box-sizing: border-box;
 }

 .player {
   background-image: url("../imgs/player.png");
   background-size: 30px 30px; 
   background-repeat: no-repeat;
   z-index: 1
 }

.rock {
   background-image: url("../imgs/rock.png");
    background-size: cover; 

}

.laser {
  background-image: url("../imgs/laser.png");
  background-size: cover; 

}

.explosion {
  background-image: url("../imgs/explosion.png");
  background-size: cover; 

}

.player.left{
  -webkit-animation:left;
  animation: left 1s;
  animation-duration: .1s;
}

.player.right{
  -webkit-animation:right;
  animation: right 1s;
  animation-duration: .1s;
}

#gameOver {
  width: 95%;
  margin: auto;
  font-family: arcade;
  font-size: 5em;
  color: red;
  position: relative;
  top: 30%;
}

#gameOver h1 {
  padding-left: 2%;
}


@keyframes right{
    from { background-position: left -10px bottom 0px}
	  to { background-position: left 5px bottom 0px}
}
@keyframes left{
    from { background-position: right -10px bottom 0px}
	  to { background-position: right 5px bottom 0px}
}

@keyframes scrolling{
    from { background-position: 0 -510px}
	  to { background-position: 0 0}
}


@font-face {
    font-family: arcade;
    src: url(ARCADECLASSIC.TTF);
}