body {
   background-image: url('./imgs/stars.gif')

}

#board {
   height: 800px;
   margin: 30px auto;
   width: 800px;
   border: 0.5px solid slategrey;
   /*background-image: url('./imgs/stars.gif')*/
 }

 .cell {
   float: left;
   height: 32px;
   width: 32px;
   box-sizing: border-box;
   /*border: 1px solid rgba(255, 255, 255, 0.2);*/
 }

 .player {
   background-image: url("./imgs/player.png");
   background-size: cover; 
   z-index: 1
 }

.rock {
   background-image: url("./imgs/rock.png");
    background-size: cover; 

}

.laser {
  background-image: url("./imgs/laser.png");
  background-size: cover; 

}
